<a href="https://colab.research.google.com/github/Ananya-Jha-code/Python-and-its-libraries/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python and its libraries
''' When you’re backed against the wall,
 break the goddamn thing down.'''

' When you’re backed against the wall,\n break the goddamn thing down.'

In [2]:
# indentation is important in python
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [3]:
for i in range(1,11):
print(i)
if i == 5:
break

IndentationError: ignored

In [5]:
# Datatypes
# Numeric
a = 2
b = 2.71232
c = 5+8j
print(a,type(a))
print(b,type(b))
print(c,type(c))

2 <class 'int'>
2.71232 <class 'float'>
(5+8j) <class 'complex'>

In [6]:
# Decimal
print(1.1+2.2)
from decimal import Decimal as D
print(D('1.1')+D('2.2'))

3.3000000000000003
3.3

In [4]:
import math

print(math.pi)

print(math.cos(math.pi))

print(math.exp(10))

print(math.log10(1000))

print(math.sinh(1))

print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [7]:
import random

print(random.randrange(10, 20))

x = ['a', 'b', 'c', 'd', 'e']

# Get random choice
print(random.choice(x))

# Shuffle x
random.shuffle(x)

# Print the shuffled x
print(x)

# Print random element
print(random.random())

16
a
['b', 'e', 'c', 'a', 'd']
0.6977617454894534

In [8]:
# Dictionaries
# empty dictionary
suits1 = {}

# dictionary with mixed keys
suits2 = {'Harvey': 'Specter', 1: [2, 4, 3]}

# using dict()
suits3 = dict({1:'Mike', 2:'Rachel'})

# from sequence having each item as a pair
suits4 = dict([(1,'Jessica'), (2,'Donna'),(3,'Hardman')])

print(suits2.get('Harvey'))
suits3[3] = 'Louis'
print(suits4.pop(3))
print('Hardman' in suits4)

Specter
Hardman
False

In [9]:
# Sets
suits5 = {'Donna', 'is'}
suits5.add('Awesome')
print(suits5)

{'Donna', 'is', 'Awesome'}

In [10]:
A = {'Winners', 'dont'}
B = {'make','excuses'}
print(A | B)

{'dont', 'Winners', 'excuses', 'make'}

In [11]:
# Lists
suit = ['R','o','b','e','r','t','Z','a','n','e']
print(suit[5])
print(suit[-1])
print(suit[6:10])
print(["cool"] * 3)

t
e
['Z', 'a', 'n', 'e']
['cool', 'cool', 'cool']

In [12]:
pow2 = [2 ** x for x in range(10)]
print(pow2)
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
I like apple
I like banana
I like mango

In [13]:
# Tuples
import sys
t = ('Win','big')
l = ['Win','big']
print(sys.getsizeof(t))
print(sys.getsizeof(l))

72
88